In [1]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/home/jupyter/.kaggle’: File exists

In [3]:
!pip install -q kaggle

In [1]:
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

In [2]:
! kaggle datasets download -d residentmario/ramen-ratings

Downloading ramen-ratings.zip to /home/jupyter
  0%|                                               | 0.00/39.8k [00:00<?, ?B/s]
100%|██████████████████████████████████████| 39.8k/39.8k [00:00<00:00, 3.56MB/s]

In [3]:
!unzip "ramen-ratings.zip"

Archive:  ramen-ratings.zip
  inflating: ramen-ratings.csv

In [1]:
import os
import glob
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import OneHotEncoder

In [2]:
df_0 = pd.concat(map(pd.read_csv, glob.glob("3W/0/*.csv")))
df_0.shape

(9956791, 10)

In [79]:
dfw = pd.concat(map(pd.read_csv, glob.glob("3W/1/*.csv")))
dfw.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,2018-10-06 16:49:01.000000,19895150.0,12202720.0,94.10425,1153320.0,71.93039,NaN,NaN,NaN,0.0
1,2018-10-06 16:49:02.000000,19895150.0,12202720.0,94.10425,1153320.0,71.93040,NaN,NaN,NaN,0.0
2,2018-10-06 16:49:03.000000,19895150.0,12202720.0,94.10426,1153320.0,71.93042,NaN,NaN,NaN,0.0
3,2018-10-06 16:49:04.000000,19895150.0,12202720.0,94.10426,1153320.0,71.93044,NaN,NaN,NaN,0.0
4,2018-10-06 16:49:05.000000,19895150.0,12202720.0,94.10427,1153320.0,71.93045,NaN,NaN,NaN,0.0

In [80]:
dfw['class'].unique()

array([  0., 101.,   1.,  nan])

In [3]:
df_0.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,2014-08-07 10:01:12.000000,0.0,17737480.0,106.4841,9551500.0,67.85506,NaN,NaN,NaN,0
1,2014-08-07 10:01:13.000000,0.0,17737890.0,106.4841,9551349.0,67.85787,NaN,NaN,NaN,0
2,2014-08-07 10:01:14.000000,0.0,17738100.0,106.4841,9551196.0,67.86069,NaN,NaN,NaN,0
3,2014-08-07 10:01:15.000000,0.0,17738310.0,106.4841,9551045.0,67.86350,NaN,NaN,NaN,0
4,2014-08-07 10:01:16.000000,0.0,17738520.0,106.4840,9550894.0,67.86632,NaN,NaN,NaN,0

In [4]:
df_1 = pd.concat(map(pd.read_csv, glob.glob("3W/1/*.csv")))
df_1.shape

(8988607, 10)

In [5]:
df_2 = pd.concat(map(pd.read_csv, glob.glob("3W/2/*.csv")))
df_2.shape

(619464, 10)

In [6]:
df_3 = pd.concat(map(pd.read_csv, glob.glob("3W/3/*.csv")))
df_3.shape

(4834079, 10)

In [7]:
df_4 = pd.concat(map(pd.read_csv, glob.glob("3W/4/*.csv")))
df_4.shape

(2462076, 10)

In [8]:
df_5 = pd.concat(map(pd.read_csv, glob.glob("3W/5/*.csv")))
df_5.shape

(13224267, 10)

In [9]:
df_6 = pd.concat(map(pd.read_csv, glob.glob("3W/6/*.csv")))
df_6.shape

(5859002, 10)

In [10]:
df_7 = pd.concat(map(pd.read_csv, glob.glob("3W/7/*.csv")))
df_7.shape

(2690918, 10)

In [11]:
df_8 = pd.concat(map(pd.read_csv, glob.glob("3W/8/*.csv")))
df_8.shape

(2278011, 10)

In [12]:
null_values_list=list(map(lambda x: x.isnull().sum(),[df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8]))

In [13]:
df_null_values = pd.DataFrame(null_values_list)
df_null_values

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,0,3558,3558,3571,1009075,1472155,2551641,9956791,2537271,0
1,0,0,0,0,0,0,8870313,8988607,8870313,1019
2,0,616,616,616,110845,137511,603605,619464,598295,1026
3,0,581,581,581,674,544,4265614,4834079,4265482,0
4,0,758,1067,1056,672,1126,1243569,2462076,579609,0
5,0,0,0,0,0,0,12862269,13224267,12862269,1461
6,0,0,0,5804790,0,0,5811133,5859002,5811133,622
7,0,362,362,362,362,362,2419572,2690918,2419572,633
8,0,30,0,0,0,91091,2186920,2278011,2186920,369

In [14]:
df_1.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,2018-10-06 16:49:01.000000,19895150.0,12202720.0,94.10425,1153320.0,71.93039,NaN,NaN,NaN,0.0
1,2018-10-06 16:49:02.000000,19895150.0,12202720.0,94.10425,1153320.0,71.93040,NaN,NaN,NaN,0.0
2,2018-10-06 16:49:03.000000,19895150.0,12202720.0,94.10426,1153320.0,71.93042,NaN,NaN,NaN,0.0
3,2018-10-06 16:49:04.000000,19895150.0,12202720.0,94.10426,1153320.0,71.93044,NaN,NaN,NaN,0.0
4,2018-10-06 16:49:05.000000,19895150.0,12202720.0,94.10427,1153320.0,71.93045,NaN,NaN,NaN,0.0

In [15]:
df_2.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class
0,2018-05-13 02:09:15.000000,27919500.0,19216150.0,126.6404,4053712.0,103.0322,NaN,NaN,NaN,0.0
1,2018-05-13 02:09:16.000000,27919460.0,19216070.0,126.6399,4053712.0,103.0322,NaN,NaN,NaN,0.0
2,2018-05-13 02:09:17.000000,27919500.0,19216100.0,126.6403,4053712.0,103.0322,NaN,NaN,NaN,0.0
3,2018-05-13 02:09:18.000000,27919470.0,19216990.0,126.6407,4053712.0,103.0322,NaN,NaN,NaN,0.0
4,2018-05-13 02:09:19.000000,27919500.0,19216170.0,126.6401,4053712.0,103.0321,NaN,NaN,NaN,0.0

In [16]:
df_null_values['total_values'] = list(map(lambda x: x.shape[0],[df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8]))

In [17]:
df_null_values

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,T-JUS-CKGL,QGL,class,total_values
0,0,3558,3558,3571,1009075,1472155,2551641,9956791,2537271,0,9956791
1,0,0,0,0,0,0,8870313,8988607,8870313,1019,8988607
2,0,616,616,616,110845,137511,603605,619464,598295,1026,619464
3,0,581,581,581,674,544,4265614,4834079,4265482,0,4834079
4,0,758,1067,1056,672,1126,1243569,2462076,579609,0,2462076
5,0,0,0,0,0,0,12862269,13224267,12862269,1461,13224267
6,0,0,0,5804790,0,0,5811133,5859002,5811133,622,5859002
7,0,362,362,362,362,362,2419572,2690918,2419572,633,2690918
8,0,30,0,0,0,91091,2186920,2278011,2186920,369,2278011

In [18]:
df_0['P-JUS-CKGL'].describe()

count    7.405150e+06
mean     2.058198e+06
std      1.502080e+06
min     -4.976717e+05
25%      1.301225e+06
50%      2.324035e+06
75%      2.337566e+06
max      7.910665e+06
Name: P-JUS-CKGL, dtype: float64

In [19]:
df_0['P-PDG'].describe()

count    9.953233e+06
mean     1.054582e+07
std      1.756924e+07
min     -1.259876e+08
25%      0.000000e+00
50%      0.000000e+00
75%      2.559900e+07
max      4.485805e+07
Name: P-PDG, dtype: float64

In [20]:
df_0['P-PDG'].describe()['std']

17569237.901884753

In [21]:
df_0.dtypes

timestamp      object
P-PDG         float64
P-TPT         float64
T-TPT         float64
P-MON-CKP     float64
T-JUS-CKP     float64
P-JUS-CKGL    float64
T-JUS-CKGL    float64
QGL           float64
class           int64
dtype: object

In [22]:
df_list = [df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8]

In [23]:
df_list = list(map(lambda x:x.drop("T-JUS-CKGL",inplace=True, axis=1), df_list))

In [24]:
df_list = [df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8]

In [25]:
def null_filling(x,i):
    if x[i].describe()['25%']!= 0.0:
        upd = x[i].fillna((x[i].describe()['75%']-x[i].describe()['25%']))
    else:
        upd = x[i].fillna((x[i].describe()['75%']-x[i].describe()['std']))
    return upd

In [26]:
for i in df_list:
    for j in df_0.select_dtypes(include=['float64','int64']).columns:
        i[j]=null_filling(i,j)

In [27]:
df_0.isnull().sum()

timestamp     0
P-PDG         0
P-TPT         0
T-TPT         0
P-MON-CKP     0
T-JUS-CKP     0
P-JUS-CKGL    0
QGL           0
class         0
dtype: int64

In [28]:
df_0.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class
0,2014-08-07 10:01:12.000000,0.0,17737480.0,106.4841,9551500.0,67.85506,1036340.75,-0.069315,0
1,2014-08-07 10:01:13.000000,0.0,17737890.0,106.4841,9551349.0,67.85787,1036340.75,-0.069315,0
2,2014-08-07 10:01:14.000000,0.0,17738100.0,106.4841,9551196.0,67.86069,1036340.75,-0.069315,0
3,2014-08-07 10:01:15.000000,0.0,17738310.0,106.4841,9551045.0,67.86350,1036340.75,-0.069315,0
4,2014-08-07 10:01:16.000000,0.0,17738520.0,106.4840,9550894.0,67.86632,1036340.75,-0.069315,0

In [29]:
null_values_df=pd.DataFrame(list(map(lambda x: x.isnull().sum(),[df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8])))
null_values_df

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0

In [31]:
#ax = df_0.plot(y='P-TPT',kind='kde')
#df_1.plot(ax=ax, y='P-TPT',kind='kde', color='b')

In [32]:
#ax = df_0.plot(y='P-TPT',kind='kde')
#df_4.plot(ax=ax, y='P-TPT',kind='kde', color='b',style='--')

In [33]:
#ax = df_0.plot(y='P-TPT',kind='kde')
#df_3.plot(ax=ax, y='P-TPT',kind='kde', color='k')

In [34]:
for i in range(0,9):
    df_list[i]['target'] = i

In [35]:
#df=pd.concat(df_list)
#df.shape

In [36]:
#df.head()

In [37]:
#df.reset_index(drop=True,inplace=True)

In [38]:
#df.dtypes

In [39]:
def time_d(x):
    x['timestamp']=pd.to_datetime(x['timestamp'])

In [40]:
for i in df_list:
    time_d(i)

In [41]:
df_0.dtypes

timestamp     datetime64[ns]
P-PDG                float64
P-TPT                float64
T-TPT                float64
P-MON-CKP            float64
T-JUS-CKP            float64
P-JUS-CKGL           float64
QGL                  float64
class                  int64
target                 int64
dtype: object

In [43]:
def time_split(t):
    yr = t.dt.year
    mt = t.dt.month
    d = t.dt.day
    hr = t.dt.hour
    me = t.dt.minute
    sd = t.dt.second
    
    return [yr,mt,d,hr,me,sd]

In [50]:
for i in df_list:
    i['year']=time_split(i['timestamp'])[0]
    i['month']=time_split(i['timestamp'])[1]
    i['day']=time_split(i['timestamp'])[2]
    i['hour']=time_split(i['timestamp'])[3]
    i['minutes']=time_split(i['timestamp'])[4]
    i['seconds']=time_split(i['timestamp'])[5]

In [51]:
df_0.head()

,timestamp,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class,target,year,month,day,hour,minutes,seconds
0,2014-08-07 10:01:12,0.0,17737480.0,106.4841,9551500.0,67.85506,1036340.75,-0.069315,0,0,2014,8,7,10,1,12
1,2014-08-07 10:01:13,0.0,17737890.0,106.4841,9551349.0,67.85787,1036340.75,-0.069315,0,0,2014,8,7,10,1,13
2,2014-08-07 10:01:14,0.0,17738100.0,106.4841,9551196.0,67.86069,1036340.75,-0.069315,0,0,2014,8,7,10,1,14
3,2014-08-07 10:01:15,0.0,17738310.0,106.4841,9551045.0,67.86350,1036340.75,-0.069315,0,0,2014,8,7,10,1,15
4,2014-08-07 10:01:16,0.0,17738520.0,106.4840,9550894.0,67.86632,1036340.75,-0.069315,0,0,2014,8,7,10,1,16

In [52]:
df=pd.concat(df_list)

df.shape

(50913215, 16)

In [53]:
df.reset_index(drop=True,inplace=True)

In [54]:
df.drop("timestamp",axis=1,inplace=True)
df.head()

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class,target,year,month,day,hour,minutes,seconds
0,0.0,17737480.0,106.4841,9551500.0,67.85506,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,12
1,0.0,17737890.0,106.4841,9551349.0,67.85787,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,13
2,0.0,17738100.0,106.4841,9551196.0,67.86069,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,14
3,0.0,17738310.0,106.4841,9551045.0,67.86350,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,15
4,0.0,17738520.0,106.4840,9550894.0,67.86632,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,16

In [60]:
df.dtypes

P-PDG         float64
P-TPT         float64
T-TPT         float64
P-MON-CKP     float64
T-JUS-CKP     float64
P-JUS-CKGL    float64
QGL           float64
class         float64
target          int64
year            int64
month           int64
day             int64
hour            int64
minutes         int64
seconds         int64
dtype: object

In [56]:
mkdir files

In [81]:
df.columns = ["P-PDG", "P-TPT", 'T-TPT', 'P-MON-CKP', 'T-JUS-CKP', 'P-JUS-CKGL', 'QGL', 'class', 
              'target','data_year','data_month','data_day','data_hour','data_minutes','data_seconds']

In [82]:
df.head()

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class,target,data_year,data_month,data_day,data_hour,data_minutes,data_seconds
0,0.0,17737480.0,106.4841,9551500.0,67.85506,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,12
1,0.0,17737890.0,106.4841,9551349.0,67.85787,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,13
2,0.0,17738100.0,106.4841,9551196.0,67.86069,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,14
3,0.0,17738310.0,106.4841,9551045.0,67.86350,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,15
4,0.0,17738520.0,106.4840,9550894.0,67.86632,1036340.75,-0.069315,0.0,0,2014,8,7,10,1,16

In [57]:
df.to_csv("files/full_file.csv")

In [8]:
split = StratifiedShuffleSplit(n_splits=1,test_size=0.17,random_state=81)

In [65]:
for tr_id,val_id in split.split(df,df.target):
    tr_set = df.loc[tr_id]
    ts_set = df.loc[val_id]

In [66]:
tr_set.to_csv("files/train_file.csv")
ts_set.to_csv("files/test_file.csv")

In [13]:
tr_sey = pd.read_csv("files/train_file.csv")
tr_sey.dtypes

P-PDG         float64
P-TPT         float64
T-TPT         float64
P-MON-CKP     float64
T-JUS-CKP     float64
P-JUS-CKGL    float64
QGL           float64
class         float64
target          int64
year            int64
month           int64
day             int64
hour            int64
minutes         int64
seconds         int64
dtype: object

In [18]:
tr_sey['target']=tr_sey['target'].astype('category')

In [19]:
tr_sey.dtypes

P-PDG          float64
P-TPT          float64
T-TPT          float64
P-MON-CKP      float64
T-JUS-CKP      float64
P-JUS-CKGL     float64
QGL            float64
class          float64
target        category
year             int64
month            int64
day              int64
hour             int64
minutes          int64
seconds          int64
dtype: object

In [21]:
tr_sey.to_csv("files/train_file.csv",header=False,index=False)

In [15]:
ts_sey = pd.read_csv("files/test_file.csv")
ts_sey.head()

,P-PDG,P-TPT,T-TPT,P-MON-CKP,T-JUS-CKP,P-JUS-CKGL,QGL,class,target,year,month,day,hour,minutes,seconds
0,23641620.0,15309790.0,58.37200,5855973.0,32.981160,691720.5,1.389490,4.0,4,2018,4,28,7,3,22
1,24971010.0,14518450.0,97.83438,1176286.0,84.464530,41921.5,0.000000,1.0,1,2018,10,7,5,5,45
2,18949440.0,10090200.0,67.93017,4083492.0,9.369085,332600.0,0.396048,3.0,3,2018,4,11,17,10,29
3,26114420.0,18171530.0,124.26460,2309652.0,93.205710,63560.0,-0.173803,105.0,5,2018,4,15,1,1,12
4,19605180.0,11529190.0,95.00541,668094.7,73.145700,41921.5,0.000000,101.0,1,2018,10,6,9,38,4

In [25]:
ts_sey['target']=ts_sey['target'].astype('category')

In [23]:
ts_sey.to_csv("files/test_file.csv",header=False,index=False)

In [30]:
df_ramen = pd.read_csv("ramen-ratings.csv")
df_ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [31]:
df_ramen.isnull().sum()

Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars          0
Top Ten     2539
dtype: int64

In [32]:
df_ramen.drop('Top Ten',axis=1,inplace=True)

In [33]:
df_ramen.dropna(inplace=True)

In [34]:
df_ramen.isnull().sum()

Review #    0
Brand       0
Variety     0
Style       0
Country     0
Stars       0
dtype: int64

In [35]:
df_ramen.dtypes

Review #     int64
Brand       object
Variety     object
Style       object
Country     object
Stars       object
dtype: object

In [37]:
df_ramen['Stars'] = df_ramen['Stars'].astype('float32')

ValueError: could not convert string to float: 'Unrated'

In [38]:
for col_name in df_ramen.columns:
    if(df_ramen[col_name].dtype == 'object'):
        df_ramen[col_name]= df_ramen[col_name].astype('category')
        df_ramen[col_name] = df_ramen[col_name].cat.codes

In [39]:
df_ramen.head()

   Review #  Brand  Variety  Style  Country  Stars
0      2580    190     2187      4       18     36
1      2579    119     1441      5       32      6
2      2578    192      453      4       35     15
3      2577    336      707      5       32     18
4      2576     38     1952      5       16     36

In [40]:
df_ramen.dtypes

Review #    int64
Brand       int16
Variety     int16
Style        int8
Country      int8
Stars        int8
dtype: object

In [42]:
df_ramen['ratings']=pd.cut(df_ramen['Stars'],bins=5, labels=['1','2','3','4','5'])
df_ramen.head()

   Review #  Brand  Variety  Style  Country  Stars ratings
0      2580    190     2187      4       18     36       4
1      2579    119     1441      5       32      6       1
2      2578    192      453      4       35     15       2
3      2577    336      707      5       32     18       2
4      2576     38     1952      5       16     36       4

In [43]:
df_ramen.drop('Stars',inplace=True,axis=1)

In [52]:
df_ramen.dtypes

Review #       int64
Brand          int16
Variety        int16
Style           int8
Country         int8
ratings     category
dtype: object

In [60]:
feat_columns=df_ramen.select_dtypes(exclude='category').columns
feat_columns

Index(['Review #', 'Brand', 'Variety', 'Style', 'Country'], dtype='object')

In [46]:
for tr_id,val_id in split.split(df_ramen,df_ramen.ratings):
    rtr_set = df_ramen.iloc[tr_id]
    rts_set = df_ramen.iloc[val_id]

In [49]:
rtr_set.to_csv("files/rtrain_file.csv",index=False,header=False)
rts_set.to_csv("files/rtest_file.csv",index=False,header=False)

In [88]:
%%bash
mkdir -p trainer
touch trainer/__init__.py

In [89]:
%%bash

export TRAIN_DATA=$(pwd)files/rtrain_file.csv
export EVAL_DATA=$(pwd)files/rtest_file.csv

In [2]:
%%writefile trainer/util.py
from __future__ import absolute_import
from __future__ import division
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn.preprocessing import OneHotEncoder

#tf.keras.backend.set_floatx('float64')
targets = ['t1','t2','t3','t4','t5']

def preprocess(dataframe):
    
    numeric_columns = dataframe.select_dtypes(['int64','int8','int16']).columns
    dataframe[numeric_columns] = dataframe[numeric_columns].astype('float32')
    
    #ohe = OneHotEncoder()
    dataframe[targets]= pd.get_dummies(dataframe['ratings'])
    
    return dataframe

def standardize(dataframe):
    
    dtypes = list(zip(dataframe.dtypes.index, map(str, dataframe.dtypes)))
    
    for column, dtype in dtypes:
        if dtype == 'float32':
            dataframe[column] -= dataframe[column].mean()
            dataframe[column] /= dataframe[column].std()
    return dataframe

def load_data():
    
    _cols = ['Review #', 'Brand', 'Variety', 'Style', 'Country', 'ratings']
    
    #train_df = pd.read_csv("files/rtrain_file.csv", names=_cols, dtype='float32')
    #eval_df = pd.read_csv("files/rtest_file.csv", names=_cols, dtype='float32')

    
    train_df = pd.read_csv("gs://testing-traing-jobs-aiplatform/ramen/rtrain_file.csv", names=_cols, dtype='float32')
    eval_df = pd.read_csv("gs://testing-traing-jobs-aiplatform/ramen/rtest_file.csv", names=_cols, dtype='float32')

    train_df = preprocess(train_df)
    eval_df = preprocess(eval_df)

    
    train_y = train_df[targets].copy()
    train_df.drop(targets,inplace=True,axis=1)
    train_x = train_df
    
    eval_y = eval_df[targets].copy()
    eval_df.drop(targets,inplace=True,axis=1)
    eval_x = eval_df

    
    all_x = pd.concat([train_x, eval_x], keys=['train', 'eval'])
    all_x = standardize(all_x)
    train_x, eval_x = all_x.xs('train'), all_x.xs('eval')

    
    #train_y = np.asarray(train_y).astype('float32').reshape((-1, 1))
    #eval_y = np.asarray(eval_y).astype('float32').reshape((-1, 1))

    return train_x, train_y, eval_x, eval_y

Overwriting trainer/util.py

In [67]:
%%writefile trainer/model.py
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import tensorflow as tf


#tf.keras.backend.set_floatx('float64')

def input_fn(features, labels, shuffle, num_epochs, batch_size):
    
    if labels is None:
        inputs = features
    else:
        inputs = (features, labels)
    dataset = tf.data.Dataset.from_tensor_slices(inputs)

    if shuffle:
        dataset = dataset.shuffle(buffer_size=len(features))
    
    
    
    dataset = dataset.repeat(num_epochs)
    dataset = dataset.batch(batch_size)
    return dataset


def create_keras_model(input_dim, learning_rate):
    
    Dense = tf.keras.layers.Dense
    model = tf.keras.Sequential(
        [
            Dense(100, activation=tf.nn.relu, kernel_initializer='uniform',
                  input_shape=(input_dim,)),
            Dense(75, activation=tf.nn.relu),
            Dense(50, activation=tf.nn.relu),
            Dense(25, activation=tf.nn.relu),
            Dense(5, activation=tf.nn.softmax)
        ])

    
    optimizer = tf.keras.optimizers.RMSprop(lr=learning_rate)

    
    model.compile(
        loss='categorical_crossentropy', optimizer=optimizer, metrics=['accuracy'])
    return model

Overwriting trainer/model.py

In [68]:
%%writefile trainer/task.py
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import os

from . import model
from . import util

import tensorflow as tf

#tf.keras.backend.set_floatx('float64')


def get_args():
    """Argument parser.

    Returns:
      Dictionary of arguments.
    """
    parser = argparse.ArgumentParser()
    parser.add_argument(
        '--job-dir',
        type=str,
        required=True,
        help='local or GCS location for writing checkpoints and exporting '
             'models')
    parser.add_argument(
        '--num-epochs',
        type=int,
        default=10,
        help='number of times to go through the data, default=20')
    parser.add_argument(
        '--batch-size',
        default=64,
        type=int,
        help='number of records to read during each training step, default=128')
    parser.add_argument(
        '--learning-rate',
        default=.01,
        type=float,
        help='learning rate for gradient descent, default=.01')
    parser.add_argument(
        '--verbosity',
        choices=['DEBUG', 'ERROR', 'FATAL', 'INFO', 'WARN'],
        default='INFO')
    args, _ = parser.parse_known_args()
    return args


def train_and_evaluate(args):

    train_x, train_y, eval_x, eval_y = util.load_data()

    
    num_train_examples, input_dim = train_x.shape
    num_eval_examples = eval_x.shape[0]

    
    keras_model = model.create_keras_model(
        input_dim=input_dim, learning_rate=args.learning_rate)

    
    training_dataset = model.input_fn(
        features=train_x.values,
        labels=train_y,
        shuffle=True,
        num_epochs=args.num_epochs,
        batch_size=args.batch_size)

    
    validation_dataset = model.input_fn(
        features=eval_x.values,
        labels=eval_y,
        shuffle=False,
        num_epochs=args.num_epochs,
        batch_size=num_eval_examples)

    
    lr_decay_cb = tf.keras.callbacks.LearningRateScheduler(
        lambda epoch: args.learning_rate + 0.02 * (0.5 ** (1 + epoch)),
        verbose=True)

    
    tensorboard_cb = tf.keras.callbacks.TensorBoard(
        os.path.join(args.job_dir, 'keras_tensorboard'),
        histogram_freq=1)

    
    keras_model.fit(
        training_dataset,
        steps_per_epoch=int(num_train_examples / args.batch_size),
        epochs=args.num_epochs,
        validation_data=validation_dataset,
        validation_steps=1,
        verbose=1,
        callbacks=[lr_decay_cb, tensorboard_cb])

    export_path = os.path.join(args.job_dir, 'keras_export')
    tf.keras.models.save_model(keras_model, export_path)
    print('Model exported to: {}'.format(export_path))



if __name__ == '__main__':
    strategy = tf.distribute.MirroredStrategy()
    with strategy.scope():
        args = get_args()
        tf.compat.v1.logging.set_verbosity(args.verbosity)
        train_and_evaluate(args)

Overwriting trainer/task.py

In [10]:
%%bash
MODEL_DIR=output_ramen
gcloud ai-platform local train \
    --module-name trainer.task \
    --package-path trainer/ \
    --job-dir $MODEL_DIR \
    -- \
    --train-files $TRAIN_DATA \
    --eval-files $EVAL_DATA \
    --train-steps 1000 \
    --eval-steps 100 \

Epoch 00001: LearningRateScheduler reducing learning rate to 0.02.
Epoch 1/10
33/33 [==============================] - 1s 22ms/step - loss: 0.8595 - accuracy: 0.6473 - val_loss: 0.2221 - val_accuracy: 0.9021

Epoch 00002: LearningRateScheduler reducing learning rate to 0.015.
Epoch 2/10
33/33 [==============================] - 0s 7ms/step - loss: 0.1920 - accuracy: 0.9020 - val_loss: 0.1833 - val_accuracy: 0.9271

Epoch 00003: LearningRateScheduler reducing learning rate to 0.0125.
Epoch 3/10
33/33 [==============================] - 0s 7ms/step - loss: 0.1172 - accuracy: 0.9455 - val_loss: 0.0508 - val_accuracy: 0.9909

Epoch 00004: LearningRateScheduler reducing learning rate to 0.01125.
Epoch 4/10
33/33 [==============================] - 0s 6ms/step - loss: 0.0726 - accuracy: 0.9735 - val_loss: 6.3961 - val_accuracy: 0.7130

Epoch 00005: LearningRateScheduler reducing learning rate to 0.010625.
Epoch 5/10
33/33 [==============================] - 0s 9ms/step - loss: 0.2407 - accuracy: 0.9863 - val_loss: 0.8205 - val_accuracy: 0.8975

Epoch 00006: LearningRateScheduler reducing learning rate to 0.0103125.
Epoch 6/10
33/33 [==============================] - 0s 7ms/step - loss: 0.0410 - accuracy: 0.9920 - val_loss: 0.0014 - val_accuracy: 1.0000

Epoch 00007: LearningRateScheduler reducing learning rate to 0.01015625.
Epoch 7/10
33/33 [==============================] - 0s 8ms/step - loss: 5.3952e-04 - accuracy: 1.0000 - val_loss: 1.9606e-04 - val_accuracy: 1.0000

Epoch 00008: LearningRateScheduler reducing learning rate to 0.010078125.
Epoch 8/10
33/33 [==============================] - 0s 8ms/step - loss: 5.7548e-05 - accuracy: 1.0000 - val_loss: 2.0704e-05 - val_accuracy: 1.0000

Epoch 00009: LearningRateScheduler reducing learning rate to 0.0100390625.
Epoch 9/10
33/33 [==============================] - 0s 9ms/step - loss: 0.1695 - accuracy: 0.9749 - val_loss: 2.3638e-04 - val_accuracy: 1.0000

Epoch 00010: LearningRateScheduler reducing learning rate to 0.01001953125.
Epoch 10/10
33/33 [==============================] - 0s 9ms/step - loss: 1.1395e-04 - accuracy: 1.0000 - val_loss: 5.8033e-05 - val_accuracy: 1.0000
Model exported to: output_ramen/keras_export

2020-12-16 21:32:40.234516: I tensorflow/core/platform/profile_utils/cpu_utils.cc:104] CPU Frequency: 2249995000 Hz
2020-12-16 21:32:40.236291: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55e00f085970 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2020-12-16 21:32:40.236411: I tensorflow/compiler/xla/service/service.cc:176]   StreamExecutor device (0): Host, Default Version
2020-12-16 21:32:40.236776: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.
WARNING:tensorflow:There are non-GPU devices in `tf.distribute.Strategy`, not using nccl allreduce.
2020-12-16 21:32:41.279558: I tensorflow/core/profiler/lib/profiler_session.cc:164] Profiler session started.
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow/python/data/ops/multi_device_iterator_ops.py:601: get_next_as_optional (from tensorflow.python.data.ops.iterator_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.data.Iterator.get_next_as_optional()` instead.
2020-12-16 21:32:45.609833: I tensorflow/core/profiler/lib/profiler_session.cc:164] Profiler session started.
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow/python/ops/summary_ops_v2.py:1277: stop (from tensorflow.python.eager.profiler) is deprecated and will be removed after 2020-07-01.
Instructions for updating:
use `tf.profiler.experimental.stop` instead.
2020-12-16 21:32:45.657205: I tensorflow/core/profiler/rpc/client/save_profile.cc:176] Creating directory: output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45
2020-12-16 21:32:45.659921: I tensorflow/core/profiler/rpc/client/save_profile.cc:182] Dumped gzipped tool data for trace.json.gz to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.trace.json.gz
2020-12-16 21:32:45.680208: I tensorflow/core/profiler/rpc/client/save_profile.cc:176] Creating directory: output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45
2020-12-16 21:32:45.680754: I tensorflow/core/profiler/rpc/client/save_profile.cc:182] Dumped gzipped tool data for memory_profile.json.gz to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.memory_profile.json.gz
2020-12-16 21:32:45.681375: I tensorflow/python/profiler/internal/profiler_wrapper.cc:111] Creating directory: output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45Dumped tool data for xplane.pb to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.xplane.pb
Dumped tool data for overview_page.pb to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.overview_page.pb
Dumped tool data for input_pipeline.pb to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.input_pipeline.pb
Dumped tool data for tensorflow_stats.pb to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.tensorflow_stats.pb
Dumped tool data for kernel_stats.pb to output_ramen/keras_tensorboard/train/plugins/profile/2020_12_16_21_32_45/tensorflow-2-3-20201211-183215.kernel_stats.pb

WARNING:tensorflow:Callbacks method `on_train_batch_end` is slow compared to the batch time (batch time: 0.0135s vs `on_train_batch_end` time: 0.0590s). Check your callbacks.
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow/python/training/tracking/tracking.py:111: Model.state_updates (from tensorflow.python.keras.engine.training) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
2020-12-16 21:32:49.032596: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.
WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow/python/training/tracking/tracking.py:111: Layer.updates (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
This property should not be used in TensorFlow 2.0, as updates are applied automatically.
INFO:tensorflow:Assets written to: output_ramen/keras_export/assets

In [70]:
from trainer import util
_, _, eval_x, eval_y = util.load_data()

prediction_input = eval_x.sample(5)
prediction_targets = eval_y[prediction_input.index]

KeyError: "None of [Int64Index([238, 202, 106, 75, 376], dtype='int64')] are in the [columns]"

In [1]:
import json

with open('test.json', 'w') as json_file:
  for row in prediction_input.values.tolist():
    json.dump(row, json_file)
    json_file.write('\n')

NameError: name 'prediction_input' is not defined

In [ ]:
%%bash

cat test.json

In [3]:
PROJECT = "testing-traing-jobs" # Replace with your project name
BUCKET_NAME=PROJECT+"-aiplatform"
REGION="us-central1"

In [4]:
os.environ["PROJECT"] = PROJECT
os.environ["BUCKET_NAME"] = BUCKET_NAME
os.environ["REGION"] = REGION
os.environ["TFVERSION"] = "2.3"
os.environ["PYTHONVERSION"] = "3.7"

In [74]:
%%bash

if ! gsutil ls | grep -q gs://${BUCKET_NAME}; then
    gsutil mb -l ${REGION} gs://${BUCKET_NAME}
fi
gsutil cp -r files gs://$BUCKET_NAME/ramen

Copying file://files/rtest_file.csv [Content-Type=text/csv]...
Copying file://files/rtrain_file.csv [Content-Type=text/csv]...
/ [2 files][ 49.8 KiB/ 49.8 KiB]
Operation completed over 2 objects/49.8 KiB.

In [8]:
%%bash
gsutil cp -r files gs://$BUCKET_NAME/ramen

Copying file://files/rtest_file.csv [Content-Type=text/csv]...
Copying file://files/rtrain_file.csv [Content-Type=text/csv]...
/ [2 files][ 49.8 KiB/ 49.8 KiB]
Operation completed over 2 objects/49.8 KiB.

In [9]:
%%bash

export TRAIN_DATA=gs://$BUCKET_NAME/ramen/rtrain_file.csv
export EVAL_DATA=gs://$BUCKET_NAME/ramen/rtest_file.csv

In [11]:
%%bash

JOB_ID=oil_events_$(date -u +%y%m%d_%H%M%S)
OUTPUT_PATH=gs://$BUCKET_NAME/$JOB_ID
gcloud ai-platform jobs submit training $JOB_ID \
    --job-dir $OUTPUT_PATH \
    --runtime-version $TFVERSION \
    --python-version $PYTHONVERSION \
    --module-name trainer.task \
    --package-path trainer/ \
    --region $REGION \
    -- \
    --train-files $TRAIN_DATA \
    --eval-files $EVAL_DATA \
    --train-steps 1000 \
    --eval-steps 100 \
    --verbosity DEBUG

jobId: oil_events_201216_213313
state: QUEUED

Job [oil_events_201216_213313] submitted successfully.
Your job is still active. You may view the status of your job with the command

  $ gcloud ai-platform jobs describe oil_events_201216_213313

or continue streaming the logs with the command

  $ gcloud ai-platform jobs stream-logs oil_events_201216_213313